{% extends "base.html" %}

{% block content %}
<div class="btn-group">
    <a href="/" class="btn btn-primary active" aria-current="page">На главную</a>
    <a href="/inf" class="btn btn-primary active" aria-current="page">Информация о проекте</a>
    {% if current_user.is_authenticated %}
    <a href="/news" class="btn btn-primary active" aria-current="page">Добавить новости</a>
    <a href="/my_blogs/{{ current_user.id }}" class="btn btn-primary active" aria-current="page">Мои блоги</a>
    {% endif %}
    <a href="/all_blogs" class="btn btn-primary active" aria-current="page">Блоги всех пользователей</a>
</div>
<h1>Записи в блоге</h1>
<!--<div class="col-md-4 col-lg-offset-4">-->
<!--</div>-->
{% for item in news%}
<div class="col-md6 border rounded">
    {% if current_user.is_authenticated %}
    {% endif %}
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}