{% extends "base.html" %}

{% block content %}

<h1>Записи в блоге</h1>
<!--<div class="col-md-4 col-lg-offset-4">-->
<!--</div>-->
{% for item in news%}
<div class="col-md6 border rounded">
    {% if current_user.is_authenticated %}
    {% endif %}
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    <div class="btn-group">
        <a href="/like/{{item.id}}" class="btn btn-success">Like</a>
        <div class="alert alert-success" role="alert">
            {{item.likes}}
        </div>
        <a href="/dislike/{{item.id}}" class="btn btn-danger">Dislike</a>
        <div class="alert alert-danger" role="alert">
            {{item.dislikes}}
        </div>
    </div>
    {% endif %}
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if item.is_checked == False %}
    <div class="alert alert-primary" role="alert">
        Админ проверяет ваш отзыв.
    </div>
    {% endif %}
    {% if item.approved %}
    <div class="alert alert-success" role="alert">
        Ваш отзыв прошел проверку!
    </div>
    {% endif %}
    {% if item.is_banned %}
    <div class="alert alert-danger" role="alert">
        Ваш отзыв был забанен админом. <a href="/news_delete/{{ item.id }}" class="alert-link">Удалить?</a>
    </div>
    {% endif %}

</div>
{% endfor %}
{% endblock %}